<div ng-include="'partials/menu.html'"></div>
<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="container">
        <h2 class="main-header">
          Batch #{{id}} <small>owned by {{batch.owner ? batch.owner : 'no one'}}</small>
          <span class="pull-right">
            <button class="btn btn-default" ng-disabled="batch.owner !== user" ng-click="saveData()"><i class="fa fa-save"></i> Save</button>
            <button class="btn btn-default" ng-disabled="batch.owner !== user" ng-click="closeBatch()"><i class="fa fa-lock"></i> Mark as Done</button>
          </span>
        </h2>
        <div ng-show="loading">Loading...</div>
        <div class="row" ng-hide="loading">
          <div ng-repeat="item in range track by $index" class="col-md-{{size}}" ng-show="show == 2 || show == data[item.id]">
            <div class="batch" ng-class="{ 'batch-yes': data[item.id] == 1, 'batch-no': data[item.id] == 0 }">
              <div class="batch-header">#{{item.id}}</div>
              <div class="batch-filename" title="{{item.file}}"><i class="fa fa-picture-o"></i> {{item.file}}</div>
              <div class="batch-photo">
                <img 
                  ng-src="//commons.wikimedia.org/w/thumb.php?f={{item.file}}&width=1200"
                  err-src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7c/X-circle.svg/50px-X-circle.svg.png"
                  ng-click="openFile($index)"
                  />
              </div>
              <div>
                <a class="btn btn-default btn-sm" href="//commons.wikimedia.org/wiki/File:{{item.file}}" target="_blank">Commons</a>
                <div class="pull-right batch-vote">
                  <button class="btn btn-success btn-sm" ng-click="voteYes(item.id)" ng-disabled="batch.owner !== user">Yes</button>
                  <button class="btn btn-danger btn-sm" ng-click="voteNo(item.id)" ng-disabled="batch.owner !== user">No</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>