<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img 
          ng-src="//commons.wikimedia.org/w/thumb.php?f={{file.file}}&width=1200"
          err-src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7c/X-circle.svg/50px-X-circle.svg.png"
          />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>